<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>New product</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center">Add new products</h1>
      <p class = "lead text-center">To add new products, contact the developer of this page, or send a mail <a href="mailto:hardikchhabra3007@gmail.com?subject=Add%20new%20products%20to%20Database&body=Sample%3A%0D%0AName%20of%20product%2C%20price%2C%20quantity">here</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>